---
title: Anything
layout: anythings
navigation: true
order: 2
---

<div class="blog-tags-list row">
  <div class="tags-row col-lg-5 m-auto">
    {% assign sorted_tags = site.tags | sort %}
    {% for tag in sorted_tags %}
    {% assign t = tag | first %}
    {% assign posts = tag | last %}
    <div class="blog-tag-item" style="display: inline-block" id="{{ t }}-item">
      <a class="tags" href="#{{ t }}" onclick="filter('{{ t }}'); " data-proofer-ignore>{{ t }}</a>
    </div>
    {% endfor %}
    <a class="hidden tags" id="showAllBtn" href onclick="showallRow();" data-proofer-ignore>SHOW ALL</a>
  </div>
</div>

<div class="row" id="row_all">
  {% for post in site.posts %}
  <div class="col-lg-3 col-md-4 col-sm-12 story-card">
    <a href="{{ post.url }}">
      <div class="card-img-top" style="background-image: url('{{ post.image }}')"></div>
    </a>
    <div class="card-body">
      <div class="posts-tags">
        {% for tag in post.tags %}
        <div class="blog-tag-item" style="display: inline-block" id="{{ t }}-item">
          <a class="tags" href="#{{ tag }}" onclick="filter('{{ tag }}'); " data-proofer-ignore>{{ tag }}</a>
        </div>
        {% endfor %}
      </div>
      <a href="{{ post.url }}">
        <h5 class="card-title">{{ post.title }}</h5>
      </a>
      <p class="author-text">Posted by <span class="author-span">{{ post.author }}</span> on <span
          class="date-span">{{ post.date | date: "%B %d, %Y" }}</span></p>
      <p class="card-text">{{ post.description }}</p>
    </div>
  </div>
  {% endfor %}
</div>

{% for tag in site.tags %}
{% assign t = tag | first %}
{% assign posts = tag | last %}

<div class="blog-list-container hidden" id="{{ t }}-container">
  {% for post in posts %}
  {% if post.tags contains t %}
  <div class="col-lg-3 col-md-4 col-sm-12 story-card">
    <a href="{{ post.url }}">
      <div class="card-img-top" style="background-image: url('{{ post.image }}')"></div>
    </a>
    <div class="card-body">
      {% for tag in post.tags %}
      <div class="blog-tag-item" style="display: inline-block" id="{{ t }}-item">
        <a class="tags" href="#{{ tag }}" onclick="filter('{{ tag }}'); " data-proofer-ignore>{{ tag }}</a>
      </div>
      {% endfor %}
      <a href="{{ post.url }}">
        <h5 class="card-title">{{ post.title }}</h5>
      </a>
      <p class="author-text">Posted by <span class="author-span">{{ post.author }}</span> on <span
          class="date-span">{{ post.date | date: "%B %d, %Y" }}</span></p>
      <p class="card-text">{{ post.description }}</p>
    </div>
  </div>
  {% endif %}
  {% endfor %}
</div>

{% endfor %}

<script>
  function filter(tag) {
    setActiveTag(tag);
    showContainer(tag);
    hideAll();
    btnAll();
  }

  function showallRow() {
    showAll();
  }

  if (window.location.hash) {
    var tag = window.location.hash.split('#')[1];
    filter(tag);
  }

  function setActiveTag(tag) {
    // loop through all items and remove active class

    var items = document.getElementsByClassName('blog-tag-item');
    for (var i = 0; i < items.length; i++) {
      items[i].setAttribute('class', 'blog-tag-item');
    }

    // set the selected tag's item to active
    var item = document.getElementById(tag + '-item');
    if (item) {
      item.setAttribute('class', 'blog-tag-item active');
    }
  }

  function showContainer(tag) {
    // loop through all lists and hide them
    var lists = document.getElementsByClassName('blog-list-container');
    for (var i = 0; i < lists.length; i++) {
      lists[i].setAttribute('class', 'blog-list-container hidden row');
    }

    // remove the hidden class from the list corresponding to the selected tag

    var list = document.getElementById(tag + '-container');
    if (list) {
      list.setAttribute('class', 'blog-list-container row active-card');
    }
  }

  function hideAll() {
    var all_h = document.getElementById('row_all')
    all_h.setAttribute('class', 'hidden');
  }

  function btnAll() {
    var all_btn = document.getElementById('showAllBtn')
    all_btn.setAttribute('class', ' tags');
  }

  function showAll() {
    var show_all = document.getElementById('row_all')
    show_all.setAttribute('class', 'row');

    var all_btn = document.getElementById('showAllBtn')
    all_btn.setAttribute('class', ' tags');
  }
</script>