---
title: Gigs
layout: gigs_layout
---



<!-- <div class="col-lg-4"> -->


    {% assign sorted = site.gigs | sort: gig.date | reverse %}


    {% for gig in sorted %}



    {% if gig.status == 'Next' %}

    <div class="gig_box upnext_box">

        <h3><a href="{{ gig.url }}">{{ gig.title }}</a></h3>
        <h5>{{ gig.date | date: "%d-%b-%y" }}</h5>


        <div class="shadow_p">
<div class="shadow"></div>
        <div class="gig_box_body">
            <p>{{ gig.excerpt | strip_html | strip_newlines }}</p>
        </div></div>
       <a class="view_more" href="{{ gig.url }}">View more</a>

    </div>
    {% endif %}

    {% endfor %}


<!-- </div>

<div class="col-lg-4"> -->



    {% assign sorted = site.gigs | sort: gig.date | reverse %}


    {% for gig in sorted %}



    {% if gig.status == 'Working' %}
    <div class="gig_box on_box">

        <h3><a href="{{ gig.url }}">{{ gig.title }}</a></h3>
        <h5>{{ gig.date | date: "%d-%b-%y" }}</h5>

        <div class="shadow_p">
<div class="shadow"></div>
        <div class="gig_box_body">
            <p>{{ gig.excerpt | strip_html | strip_newlines }} </p>
        </div></div>
       <a class="view_more" href="{{ gig.url }}">View more</a>
    </div>
    {% endif %}


    {% endfor %}

<!-- </div>

<div class="col-lg-4"> -->

    {% assign sorted = site.gigs | sort: gig.date | reverse %}
    {% for gig in sorted %}



    {% if gig.status == 'Done' %}
    <div class="gig_box done_box">

        <h3><a href="{{ gig.url }}">{{ gig.title }}</a></h3>
        <h5>{{ gig.date | date: "%d-%b-%y" }}</h5>

        <div class="shadow_p">
<div class="shadow"></div>
        <div class="gig_box_body"> 
            <p>{{ gig.excerpt | strip_html | strip_newlines }} </p>
        </div></div>

        <a class="view_more" href="{{ gig.url }}">View more</a>

        {% endif %}


        {% endfor %}
    </div>

<!-- </div> -->