---
title: Gigs
layout: gigs_layout
---

<!-- TO DO -->

<div class="col-lg-4 col-md-6 col-sm-12">
    <section class="swimming">
        <hr />
        <H2>
            To do
        </H2>
        <hr />
    </section>
    {% assign sorted = site.gigs | sort: gig.date | reverse %}
    {% for gig in sorted %}
    {% if gig.status == 'To do' %}
    <a href="{{ gig.url }}">
        <div class="box to_do">
            <h3>
                {{ gig.title }}
            </h3>
            <h5>
                <i class="far fa-calendar-check"></i>
                {{ gig.date | date: "%d-%b-%y" }}
            </h5>
            <div class="p-gigs">
                <p>
                    {{ gig.excerpt | strip_html | strip_newlines }}
                </p>
            </div>
            <div class="button">More</div>
        </div>
    </a>
    {% endif %}
    {% endfor %}
</div>

<!-- IN PROGRESS -->

<div class="col-lg-4 col-md-6 col-sm-12">
    <section class="swimming">
        <hr />
        <H2>
            In progress
        </H2>
        <hr />
    </section>
    {% assign sorted = site.gigs | sort: gig.date | reverse %}
    {% for gig in sorted %}
    {% if gig.status == 'In progress' %}
    <a href="{{ gig.url }}">
        <div class="box in_progress">
            <h3>
                {{ gig.title }}
            </h3>
            <h5>
                <i class="far fa-calendar-check"></i>
                {{ gig.date | date: "%d-%b-%y" }}
            </h5>
            <div class="p-gigs">
                <p>
                    {{ gig.excerpt | strip_html | strip_newlines }}
                </p>
            </div>
            <div class="button">More</div>
        </div>
    </a>
    {% endif %}
    {% endfor %}
</div>

<!-- DONE -->

<div class="col-lg-4 col-md-6 col-sm-12">
    <section class="swimming">
        <hr />
        <H2>
            Done
        </H2>
        <hr />
    </section>
    {% assign sorted = site.gigs | sort: gig.date | reverse %}
    {% for gig in sorted %}
    {% if gig.status == 'Done' %}
    <a href="{{ gig.url }}">
        <div class="box done">
            <h3>
                {{ gig.title }}
            </h3>
            <h5>
                <i class="far fa-calendar-check"></i>
                {{ gig.date | date: "%d-%b-%y" }}
            </h5>
            <div class="p-gigs">
                <p>
                    {{ gig.excerpt | strip_html | strip_newlines }}
                </p>
            </div>
            <div class="button">More</div>
        </div>
    </a>
    {% endif %}
    {% endfor %}
</div>