---
title: Stories
layout: stories_layout
---

<div class="row">
  <div class="col-lg-5 m-auto">


      <p class="tags">

      {% comment %} compiling the gross list of all tags, duplicates and all {% endcomment %}
      {% for story in site.stories %}
        {% assign tags = tags | concat:story.tags %}
      {% endfor %}
      {% comment %} Getting rid of duplicates (uniq), sorting it  - all in one go {% endcomment %}


      {{ tags | uniq | sort | join: ' ' }}

    </p>

  </div>
</div>

<div class="row">
  {% for story in site.stories %}

  <div class="col-lg-3 col-md-4 col-sm-12 story-card">
    <div class="card-img-top" style="background-image: url('{{ story.image }}')"></div>
    <div class="card-body">
      <p class="tags">{{ story.tags | join: " " | truncatewords: 3, '' }}</p>
      <h5 class="card-title">{{ story.title }}</h5>
      <p class="card-text">{{ story.description }}</p>
    </div>
  </div>


  <!-- <div class="col-lg-3 m-auto">
    <h2>{{ story.title }}</h2>
    <p>{{ story.description }}</p>
  </div> -->

  {% endfor %}

</div>