---
title: Home
---

<div id="fullpage">

<!-- Home section -->

  <div class="section">
    {% include components/primary.html
    btn_href="#why"
    btn_txt="But why?"
    title="Continuously Delivering <br> Awesome Web Solutions"
    caption=" "
    %}
  </div>

<!-- Why section -->

  <div class="section">
    {% include components/primary.html
    btn_href="#how"
    btn_txt="But how?"
    title="Reinventing Relations"
    caption="We run a frank and transparent business, teaching the
    Yipees the ins and outs of being a professional consultant,
    freelancer, innovator or entrepreneur"
    %}
  </div>

<!-- How section -->

  <div class="section">
    {% include components/primary.html
    btn_href="#what"
    btn_txt="But what?"
    title="Software Is Only Software"
    caption="The digital transformation is real: Our deliveries are programmable
    and immutable. We provide a collaborative technology stack and
    work through a simple Kanban approach."
    %}
  </div>

<!-- What section -->
  
  <div class="section">
    {% include components/primary.html
    btn_href="/gigs/"
    btn_txt="Show me"
    title="Come And Jam With Us"
    caption="All our projects are described in blue prints. Are you a
    yipee waiting to join or a customer waiting to come
    clean - go and be inspired. Join our tribe!"
    %}
  </div>

<!-- Contact section -->

  <div class="section contact">
    {% include components/contact.html
    title="Let's get in touch!"
    caption="Ready to start your next project with us?</br>
    ...or are you a yipee - who want to get onboard?</br>
    That's great! Give us a call or send us an email and we will
    get back to you right away!"
    phone="+45 20 87 25 30"
    email="hey@prolike.io"
    %}
  </div>
  
</div>