.connect {

    .row {
        background: $prolikeblue;
        height: 100vh;
        width: 100%;
    }

    .col-lg-6 {
        padding: 0;
    }

    .connect-map {
        iframe {
            margin-top: -4px;
        }
    }

    .connect-form {
        padding: 0 75px 75px 75px;
        display: flex;
        align-items: center;

        h1 {
            font-size: 6.5vh;
            color: #ffffff;
            margin-left: -5px;
            text-transform: initial;
        }

        form {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            input {
                width: 45vh;
                background: none;
                border: none;
                border-bottom: 1px solid rgba(245, 245, 245, 0.5);
                padding: 0;
                color: #F5F5F5;
                font-size: 2vh;
                font-weight: 600;
            }

            input[type=submit] {
                background: $prolikeyellow;
                display: inline-block;
                width: 17.5vh;
                height: 5.5vh;
            }
        }
    }

    .info-text {

        h2 {
            font-size: 2.5vh;
            color: white;
        }

        p {
            font-size: 2vh;
            color: #F5F5F5;
        }

        a {
            font-size: 2.5vh;
            color: $prolikeyellow;
            text-decoration: none;
            line-height: 5vh;
        }
    }
}

@media (max-width: 768px) {

    .connect {

        .row {
            height: 100vh;
            padding: 0;
        }

        .connect-map {
            display: none;
        }

        .connect-form {
            padding: 0;
            justify-content: center;
            height: inherit;

            h1 {
                font-size: 5vh;
                margin-top: 3vh;
            }

            a,
            p {
                font-size: 2.5vh;
            }

            form {
                margin-top: 0;
                height: auto;
                justify-content: center;

                .info-text {
                    margin-top: 5vh;
                }
            }
        }
    }

    .connect .connect-form form input {
        width: 45vh;
        background: none;
        border: none;
        border-bottom: 1px solid rgba(245, 245, 245, 0.5);
        padding: 0;
        color: #F5F5F5;
        font-size: 3vh;
        font-weight: 600;
    }

    .connect .connect-form form input[type=submit] {
        margin-top: 3vh;
    }
}