.contact {
    background: $prolikeblue;
    height: 100vh;

    h1 {
        color: $prolikeyellow;
        font-weight: 600;
        font-size: 20px;
    }

    a {
        font-size: 20px;
        display: block;
        color: $white;
    }

    a:hover {
        color: $prolikeyellow;
        text-decoration: none;
    }

    .col-lg {
        color: $white;
        font-size: 20px;
    }
}

.ourfooter {
    display: flex;
    justify-content: space-around;

    .bg-primary {
        width: 100%;
    }
}