.contact {
    background: $prolikeblue;
    height: 100vh;

    h1 {
        color: $prolikeyellow;
        font-weight: 600;
        font-size: 20px;
    }

    a {
        font-size: 20px;
        display: block;
        color: #ffffff;
    }

    a:hover {
        color: $prolikeyellow;
        text-decoration: none;
    }

    .col-lg {
        color: #ffffff;
        font-size: 20px;
    }
}