.container {
    margin-top: 75px;
    width: 75%;
}

.row>* {
    padding: 15px !important;
}

.col-12 {
    min-height: 300px;
    padding: 15px;
    box-shadow: 0px 0px 12px -1px rgba(0, 0, 0, 0.75);
}

@media (max-width: 768px) {
    .container {
        width: 100% !important;
    }
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

.box-title {
    font-weight: bold;
    font-size: 20px;
}


// message board


// profile

.profile {
    align-content: center;
    text-align: center;
    padding: 0px;


    .col-10 {
        padding: 0px !important;
    }

    .profile p {
        line-height: 5px;
    }


    .profile-picture {
        width: 50%;
        height: auto;
        border-radius: 50%;
    }

}

// last opened issue

.newIssue {

    .ni-number {
        font-weight: bold;
        color: #8fd0a0;
    }
    
}

// last closed issue

.closedIssue {
    
    .ci-number {
        font-weight: bold;
        color: #e59198;
    }

}


// zenhub

.zenhub {
    background-color: #5b5db5;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
        font-size: 35px;
    }

    p, a {
        color: white;
        align-content: center;
    }


}

// to do list & pipeline

.todo-list > *, .pipeline-box > * {
    padding-top: 5px;
    vertical-align: middle;
    border-top: 1px solid #00000063;
}

.todo-list >*:last-child, .pipeline-box >*:last-child {
    border-bottom: 1px solid #00000063;
}

.issue-number, .issue-name, .todo-list {
    font-weight: bold;
}

// storypoints 

.storypoints {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $prolikeblue;

    h3 {
        font-size: 10em;
        color: $prolikeyellow
    }

    p {
        font-weight: bold;
        font-size: 2em;
        color: white;
    }
}
