
  .btn_i{
    border:none;
    position:relative;
    font-size:1.6em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
  }

  .btn_i:hover{
    background:#fff;
  }
 
  .btn_i:before,.btn_i:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:4px;
    width:0;
    background: $prolikeyellow;
    transition:400ms ease all;
  }
  .btn_i:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .btn_i:hover:before,.btn_i:hover:after{
    width:100%;
    transition:800ms ease all;
  }
  
