.infographics {

    height: 100vh;
    width: 100%;
    background-color: $prolikeblue;
    padding: 0 90px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: nimbus-sans-condensed, sans-serif;
    font-weight: 900;
    font-style: normal;

    a {
        font-size: 70px;
        color: $white;
        transition: all ease-in-out .2s;
        text-decoration: none;
    }
}

/* Small devices (phones, 768px and down) */

@media only screen and (max-width: 768px) {

    .infographics {

        padding: 0 15px;
        text-align: center;

        a {
            font-size: 40px;
        }
    }

  }