/* Mobile styling using plain CSS */

@media (max-width: 768px) {

    /* Sections */

    .bg-primary {
        padding: 0;
    }

    #fullpage {

        h2 {
            font-size: 22.5px;
        }

        p {
            font-size: 16px;
            max-width: 100%;
        }

    }

    /* Navigation bar */

    .navbar {
        padding: 0 15px;
    }

    .col-sm-4 {
        height: 20px;
        width: auto;
        padding: 0;
    }

    #fp-nav.fp-right {
        display: none;
    }

    .contact {

        h1 {
            font-size: 18px;
        }

        a {
            font-size: 18px;
        }

        .row .col {
            margin-bottom: 50px;
        }
    }

    .modal-content ul li a {
        font-size: 2em !important;
    }

    .col-xs-6 {
        max-width: 50%;
        font-size: 15px !important;
        margin-bottom: 30px;


        a {
            font-size: 15px !important;
        }

        h1 {
            font-size: 15px;
        }

    }

    // CTA buttons

    .btn {
        font-size: 14px !important;
        margin-top: 0;
    }

    .call {
        margin-left: 0;
    }

    // Mobile section backgrounds

    .section {
        background-image: url(../img/mb-1.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }

    .section:nth-child(2) {
        background-image: url(../img/mb-2.jpg);
    }

    .section:nth-child(3) {
        background-image: url(../img/mb-3.jpg);
    }

    .section:nth-child(4) {
        background-image: url(../img/mb-1.jpg);
    }

    .section:nth-child(5) {
        background-image: none;
    }


    // Stories and Gigs

    // This is most likely not the best way to go about making these
    // items responsive, but for not, this is our solution.
    // But don't worry, I'll note this down, and return at a later date.

    .image-header-bg {
        max-width: 100%;
        height: 350px !important;
    }

    .story-content {
        max-width: 95% !important;
        padding: 0 10px !important;
    }

    .story-card {
        padding: 0;
        margin: 0;
        margin-bottom: 20px;
    }

    .story-header {
        height: 350px !important;
    }

    .gig_container .row {
        width: 100%;
    }

}