// Navigation css



.navbar{
    background-color: #1A2336 !important;
    color: #fff;
    height: 60px;
    z-index: 10;
    padding: 0 75px;
    display: flex;
    align-items: center;
}

.navbar-toggler-icon {
    border: none;
    
}

.navbar-toggler, .navbar-toggler:active, .navbar-toggler:visited, .navbar-toggler:focus {
    border: none;
    box-shadow: none;
    outline: none;
    height:100% !important;
    padding: 0;
    margin: 0;
    height: inherit;
    padding: 2px;
}

button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
    height:100% !important;
}

.navbar > div {
    height:100% !important;
}

 .modal-dialog-centered , .modal-dialog {
    height: 90% !important;
    width: 96% !important;
    background-color:#1A2336 !important;
    z-index: 10;
    max-width: 96%;
    border-radius: .3rem;
}

.modal-content {
    background-color:#1A2336 !important;
    border: none;
    text-align: center;
    
}

.modal-content ul li {
    font-size: 60px;
    text-transform: uppercase;
    font-weight: bold;
    list-style-type: none;
}

.modal-content ul {
    padding: 0;
    margin: 0;
}

.modal-content ul li a {
    color: white;

}

.modal-content ul li a:hover {
    color: #ffc400;
    text-decoration: none;
}

.closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: transparent;
    color: white;
    border: none;
    font-weight: bold;
    font-size: 20px;
}

.closebtn:hover {
    cursor: pointer !important;
    z-index: 10;
}
