// Sections css

.section {
    height: 100vh;
    background: #ffffff;
}

.bg-primary {
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: inherit !important;
}

#fullpage {
    
    h2 {
        color: $prolikeblue !important;
        font-size: 2.5em;
        margin-bottom: .5em;
    }
    
    p {
        color: inherit;
        font-size: 1.5em;
        max-width: 70%;
    }
}

.btn {
    background: $prolikeyellow;
    color: $prolikeblue;
    font-weight: 700;
    border-radius: 0em;
    margin-top: .5em;
}
