.posts-container {
    height: auto;
    width: 100%;
    padding: 10vh 20vh 10vh 20vh;
    background: $prolikeblue;

    .wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-gap: 4vh;
        grid-row-gap: 5vh;
    }

    .card-img-top {
        height: 25vh;
        width: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.25);
    }

    .card-body {
        padding: 2vh 0;

        a {
            text-decoration: none !important;
            color: #a3b4cc;
        }

        h5 {
            font-size: 3vh;
            line-height: 5.5vh;
            color: $white;
            text-transform: uppercase;
            font-weight: 700;
            font-family: 'Oswald', sans-serif;
            transition: .15s all ease-in-out;
        }

        .tags {
            color: $prolikeyellow;
            font-size: 15px;
            text-transform: uppercase;
            font-family: 'Oswald', sans-serif;
            text-decoration: none;
            margin-right: 1vh;
        }

        p {
            font-size: 1.7vh;
            color: $white;
            line-height: 1.5;
        }

    }
}

.hidden {
    display: none !important;
    visibility: hidden !important;
}

.anything-overview {
    padding: 5vh 0 7.5vh 0;

    h1 {
        font-size: 4vh;
        color: white;
        font-family: 'Bebas Neue', cursive;
        margin: 0;
        margin-bottom: 2.5vh;
    }

    hr {
        width: 100%;
        height: 1.5px;
        background: rgba(107, 125, 153, .15);
        margin: 0;
    }
}

/* Small devices (phones, 768px and down) */

@media only screen and (max-width: 768px) {

    .posts-container {
        padding: 15vh 2vh 10vh 2vh;

        .anything-overview h1 {
            font-size: 35px;
        }

        .wrapper {
            grid-template-columns: 1fr;
        }

        .card-img-top {
            height: 35vh;
        }

        .card-body {
            padding: 10px 0;

            h5 {
                font-size: 25px;
                line-height: 35px;
                padding: 5px 0;
            }

            p {
                font-size: 14px;
            }

            .tags {
                font-size: 15px;

                p {
                    max-width: 100%;
                }

            }
        }
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (max-width: 1200px) {

    .posts-container {

        .wrapper {
            grid-template-columns: 1fr 1fr;
        }

        .events-image {
            height: 30vh;
        }
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (max-width: 1500px) {

    .posts-container {

        .wrapper {
            grid-template-columns: 1fr 1fr 1fr;
        }

        .events-image {
            height: 30vh;
        }
    }
}