.posts-container {
    height: auto;
    width: 100%;
    padding: 10vh 20vh 10vh 20vh;
    background: $prolikeblue;

    .wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-gap: 4vh;
        grid-row-gap: 5vh;
    }

    .card-img-top {
        height: 25vh;
        width: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.2);
    }

    .card-body {
        padding: 2vh 0;

        a {
            text-decoration: none !important;
            color: #a3b4cc;
        }

        h5 {
            font-size: 3vh;
            line-height: 5.5vh;
            color: $white;
            text-transform: uppercase;
            font-weight: 700;
            font-family: 'Oswald', sans-serif;
            transition: .15s all ease-in-out;
        }

        .tags {
            color: $prolikeyellow;
            font-size: 15px;
            text-transform: uppercase;
            font-family: 'Oswald', sans-serif;
            text-decoration: none;
            margin-right: 1vh;
        }

        p {
            font-size: 16px;
            color: $white;
            line-height: 1.5;
        }

    }
}

.hidden {
    display: none !important;
    visibility: hidden !important;
}

.anything-overview {
    padding: 5vh 0 7.5vh 0;

    h1 {
        font-size: 4vh;
        color: white;
        font-family: 'Bebas Neue', cursive;
        margin: 0;
        margin-bottom: 2.5vh;
    }

    hr {
        width: 100%;
        height: 1.5px;
        background: rgba(107, 125, 153, .15);
        margin: 0;
    }
}

// individual story site

.story-content {
    width: 910px;
    padding: 15vh 0 10vh 0;
    margin-bottom: 100px;

    .share-icons {
        width: auto;
        margin: 0;
        padding: 0;

        a {
            margin-right: 15px;
        }

        .fab {
            color: black;
            opacity: 0.5;
            font-size: 25px;
        }

        .fab:hover {
            color: $prolikeyellow;
        }
    }



    img {
        margin-left: auto;
        margin-right: auto;
        object-fit: contain;
        display: block;
        margin: 25px 0;
    }

    h1 {
        padding-bottom: 0;
        text-transform: uppercase;
        font-size: 48px;
        line-height: 60px;
        font-weight: 700;
        padding: 10px 0;
        margin: 0;
        font-family: 'Oswald', sans-serif;
    }

    h2 {
        padding: 20px 0 10px 0;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 600;
    }

    h3 {
        padding: 25px 0 0 0;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 25px !important;
        font-family: 'Oswald', sans-serif;
    }

    h4 {
        padding: 20px 0 10px 0;
        font-weight: bold;
        font-size: 15px !important;
        text-transform: uppercase;
    }

    hr {
        min-width: 100% !important;
        opacity: .5;
    }

    a {
        color: #4B504C;
        text-transform: uppercase;
        font-weight: 700;
    }

    h1 {
        text-transform: uppercase;
    }

    p {
        font-size: 16px;
        line-height: 24px;
        margin: 0;
    }
}

.image-header-bg {
    height: 500px;
    width: 100%;
    margin: 35px 0 50px 0;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

@media only screen and (max-width: 1500px) {

    .posts-container {

        .wrapper {
            grid-template-columns: 1fr 1fr 1fr;
        }

        .events-image {
            height: 30vh;
        }
    }
}

@media only screen and (max-width: 1200px) {

    .story-content {
        width: 910px;
        padding: 15vh 0 10vh 0;
        margin-bottom: 100px;

        ul {
            padding: 1vh 0 1vh 5vh;
        }
    }

    .posts-container {

        .wrapper {
            grid-template-columns: 1fr 1fr;
        }

        .events-image {
            height: 30vh;
        }


    }


}

/* Small devices (phones, 768px and down) */

@media only screen and (max-width: 768px) {

    .posts-container {
        padding: 15vh 2vh 10vh 2vh;

        .anything-overview h1 {
            font-size: 35px;
        }

        .wrapper {
            grid-template-columns: 1fr;
        }

        .card-img-top {
            height: 35vh;
        }

        .card-body {
            padding: 10px 0;

            h5 {
                font-size: 25px;
                line-height: 35px;
                padding: 5px 0;
            }

            p {
                font-size: 14px;
            }

            .tags {
                font-size: 15px;

                p {
                    max-width: 100%;
                }

            }
        }
    }

    .image-header-bg {
        max-width: 100%;
        height: 325px !important;
    }

    .story-content {
        max-width: 95% !important;
        margin: 0 auto;
        padding-top: 15vh !important;
    }
}