.contact {

    form {
        margin-left: -15px;
        margin-top: 20px;
        input[type=text], input[type="email"] {
            background: transparent;
            border: none;
            border-bottom: 1px solid $gray-700;
            margin-bottom: 20px;
            width: 100%;
            margin-right: 40px;
           
        }

        :focus {
            background: transparent;
            border-bottom: 2px solid #ffc400;
            outline: none;
        }
        ::placeholder {
            opacity: .9;
            padding-left: 0;
        }

        .form-group {
            display: flex;
            flex-direction: row;
            @include for-phone-only {
                flex-direction: column;
                margin-bottom: 0;
            }
        }


    }
}
