.events-container {
    min-height: 100vh;
    width: 100%;
    padding: 16.5vh 20vh 10vh 20vh;

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 5vh;
    grid-row-gap: 5vh;

    .events-image {

        width: 100%;
    }
    .events-image.bottom {
        object-position: bottom;
    }

    
    .events-image.top {
        object-position: top;
    }

    h2 {
        font-size: 3.5vh;
        line-height: 5.5vh;
        color: $black;
        padding: 0 0 0vh 0;
        text-transform: uppercase;
        font-weight: 700;
        font-family: 'Oswald', sans-serif;
        transition: .15s all ease-in-out;
    }
    h3 {
        font-size: 2vh;
        padding: 0;
        margin: 10px 0 0 0;
        color: $black;
        text-transform: uppercase;
        font-weight: 600;
        color: $prolikeyellow;
        font-family: 'Oswald', sans-serif;
        transition: .15s all ease-in-out;
    }

    p {
        color: black;
        display: inline;
    }

    a, a:hover {
        text-decoration: none;
    }
}
}

@media only screen and (max-width: 1200px) {

    .events-container {
        padding: 15vh 10vh 10vh 10vh;

        .wrapper {
            grid-template-columns: 1fr 1fr;
            
        }

        .events-image {
            height: 30vh;
        }


    }

    
   
}

@media only screen and (max-width: 1024px) {

    .events-container {
        padding: 15vh 2vh 10vh 2vh;

        .wrapper {
            grid-template-columns: 1fr;
        }

        .events-image {
            height: 100% !important;
        }


    }

   
}