.list {
    min-height: 100vh;
    @include page-side-padding;
    @include page-top-bottom-padding;
    background-image: url(../images/backgrounds/tileable.jpg);
    // background-size: cover;
    background-position: center center;
    // background-repeat: no-repeat;


    .col-sm-4 {
        padding: 20px 0 0 0;
        @include for-ipad-pro {
            padding: 40px 0 0 0;
        }
        .col-12 {
            padding:0;
        }
       
    }


    .item {
        margin: 20px 0;
        color: white;
        padding: 20px 3px;
        border-radius: 10px;
        display: grid;
        align-content: center;
        height: 200px;
        @include for-tablet {
            height: 150px;
        }

        * {
            margin: 0;
        }
    }


    a {
        width: 100%;
        color: white;
        text-decoration: none;
    }

    .todo {
        background-color: $prolikeblue;
        box-shadow: 8px 11px 16px -9px rgba(0, 0, 0, 0.8);
    }

    .doing {
        background: rgb(26, 34, 54);
        background: linear-gradient(290deg, $prolikeyellow 49%, $prolikeblue 50%);
        text-shadow: 0px 0px 5px $prolikeblue;
        box-shadow: 8px 11px 16px -9px rgba(0, 0, 0, 0.8);
    }

    .done {
        background-color: $prolikeyellow;
        text-shadow: 0px 0px 5px $prolikeblue;
        box-shadow: 8px 11px 16px -9px rgba(0, 0, 0, 0.8);
    }
}

@media only screen and (max-width: 1024px) {
    .list {
        min-height: 100vh;
        @include page-side-padding;
        padding: 100px 2vh;
        background-image: url(../images/backgrounds/mb-2-tileable.jpg);
        background-size: cover;
        background-position: center center;
    }
}

