.list {
    min-height: 100vh;
    @include page-side-padding;
    padding-top: 100px;
    background-image: url(../images/backgrounds/hand.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    

    h1 {
        font-weight: 600;
    }

    .item {
        margin-top: 1vh;
        color: white;
        padding: 20px 0;
        border-radius: 10px;
    }


    a {
        width: 100%;
        color: white;
        text-decoration: none;
    }

    .todo {
        background-color: $prolikeblue;
        box-shadow: 8px 11px 16px -9px rgba(0, 0, 0, 0.8);
    }

    .doing {
        background: rgb(26, 34, 54);
        background: linear-gradient(290deg, $prolikeyellow 49%, $prolikeblue 50%);
        text-shadow: 0px 0px 5px $prolikeblue;
        box-shadow: 8px 11px 16px -9px rgba(0, 0, 0, 0.8);
    }

    .done {
        background-color: $prolikeyellow;
        text-shadow: 0px 0px 5px $prolikeblue;
        box-shadow: 8px 11px 16px -9px rgba(0, 0, 0, 0.8);
    }
}

@media only screen and (max-width: 1024px) {
    .list {
        min-height: 100vh;
        @include page-side-padding;
        padding: 100px 2vh;
        background-image: url(../images/backgrounds/mb-2.jpg);
        background-size: cover;
        background-position: center center;
    }
}

@media only screen and (max-width: 600px) {
    .section + .section {
        margin-top: 5vh;
    }
}