.service-box {
    @include dark-background;
    padding: 20px 20px 0 20px;
    height: 200px;
    text-align: center;
    margin-top: 20px;
    border-radius: 5px;

    @include for-ipad-pro {
        margin-bottom: 30px;
    }

    i {
        font-size: 60px;
        margin: 20px 0;
        color: $prolikeyellow;
    }

    h4 {
        font-weight: bold;
        word-wrap: break-word;
        color: white;
    }





}