
.service {
    padding: 20vh 20vh;
    height: auto;
    width: auto;
    align-items: center;

    .service-heading {
        margin-left: auto;
        margin-right: auto;
        //padding-top: 0;
        font-weight: 600;
    
    }

    p {
        padding-top: 10px;
    }

.service-boxes {
    padding: 50px;
    align-items: center;


    .service-box {
    color: white;
    align-items: center;
    text-align: center;
    background-color: $prolikeblue;
    padding: 15px;
    padding: 30px;
    margin: 30px;
    height: 25vh;
    width: 30vh;
    border-radius: 10px;

    .post-link, .post-link:hover {
        color: white;
        text-decoration: none;
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;

        .service-icon {
            font-size: 60px;
            margin: 20px 25px;
            color: $prolikeyellow;
        }

        h4 {
            text-transform: uppercase;
            font-weight: bold;
            word-wrap: break-word;
            color: white;
        }

    }

   

    }

}

}
@media only screen and (min-width: 600px) {
    .service {
        padding-top: 20vh 20vh;
        height: 100vh;
        width: auto;
        align-items: center;
    }
}