.services {
    padding: 15vh 20vh;
    height: auto;
    width: auto;
    align-items: center;

    ul {
        padding-left: 30px !important;
    }

    .row {
        margin-right: 0px;
        margin-left: 0px;
    }

    .service-heading {
        margin-left: auto;
        margin-right: auto;
        //padding-top: 0;
        font-weight: 600;

    }

    p {
        padding-top: 10px;
    }

    .service-boxes {
        padding: 50px;
        align-items: center;

        a {
            text-decoration: none;
        }


        .service-box {
            color: white;
            align-items: center;
            text-align: center;
            background-color: $prolikeblue;
            padding: 15px;
            margin-top: 30px;
            height: 200px;
            width: 100%;
            border-radius: 5px;

            .box {
                margin-top: 15px;;
            }

                .service-icon {
                    font-size: 60px;
                    margin: 20px 0;
                    color: $prolikeyellow;
                }

                h4 {
                    text-transform: uppercase;
                    font-weight: bold;
                    word-wrap: break-word;
                    color: white;
                }

            



        }

    }

    .service-info {
        padding-top: 5vh;
        padding-bottom: 5vh;
        margin-bottom: 5vh;
        border-top: 1px solid rgba(0, 0, 0, 0.25);

        h2 {
            text-transform: uppercase;
            font-weight: bold;
        }

        a {
            font-weight: 700;
            color: #000000;

            &:hover {
                text-decoration: none;
                color: $prolikeyellow;
            }
        }

        .btn {
            width: 100%;
            color: white;

            &:hover {
                color: $prolikeblue;
            }
        }
    }

    #popup {
        width: 100%;
        height: 50vh;
        margin: 0 auto;
        margin-bottom: 5vh;
        border: 1px solid rgba(0, 0, 0, 0.25);
        box-shadow: 0px 0px 0px 0px black;
        //display: none;
      }
      #popup iframe {
        width: 100%;
        height: 100%
      }

    .service-info:last-of-type {
        border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    }

}

@media only screen and (max-width: 1024px) {
    .services {
        padding: 20vh 0vh;
    }
    .service {
        padding: 10vh 5vh;

        ul {
            padding-left: 30px !important;
        }

        .pop {
            padding: 0;
        }

        #popup {
            height: 80vh;
          }

        .service-boxes {

            .service-box {
                width: auto;
                height: 250px;
                margin: unset;
                margin-top: 30px;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .service {
        ul {
            padding-left: 40px !important;
        }
    }
}

@media only screen and (max-width: 480px) {

    .services {
        padding: 20vh 0vh;

    }
    
    .service {
        padding: 5vh 0vh;
        height: auto;
        width: 100%;
        text-align: center;

        ul {
            padding-left: 30px !important;
        }
        
        .service-boxes {

            .service-box {
                width: auto;
                height: 250px;
                margin: unset;
                margin-top: 30px;
            }
        }

        .service-info {
            text-align: left;
        }
    }
}

.service {
    padding-top: 15vh;

    .btn {
        align-items: center;
        text-align: center;
    }
    
    h2 {
        font-weight: bolder;
    }


    a {
        font-weight: 700;
        color: #000000;

        &:hover {
            text-decoration: none;
            color: $prolikeyellow;
        }
    }
}

.service-form {
    padding-bottom: 5vh;
}