
.things {
    width: 800px;
    margin: 0 auto;
    padding: 15vh 0;

    .intro {
        width: 100%;
        text-align: center;
    }

    .con-row {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .box-outer {
            width: 300px;
            padding: 20px;
            height: 300px;

            a {

                color: $prolikeyellow;
                .box-inner {
                    height:100%;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: $prolikeblue;
                    h3 {
                    // font-size: 40px;
                    font-weight: 700;
                    }
                }
            }
            
        }
    }
}

/* Small devices (phones, 768px and down) */

@media only screen and (max-width: 768px) {

    .things {
        width: 100%;
    }

}