// Mixins

// Media querries

@mixin for-phone-only() {
  @media (max-width: 550px) {
    @content;
  }
}

@mixin for-tablet() {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin for-ipad-pro() {
  @media ( max-width: 1024px) {
    @content;
  }
}





//////////

@mixin no-pad-no-mag() {
  padding: 0;
  margin:0;
}



@mixin horizontal-h-list() {
  display: inline;
  padding-right: 10px;

  @include for-ipad-pro {
    font-size: 1em;
  }
}


@mixin no-dots() {
  list-style-type: none;
}

@mixin align-right() {
  text-align: right;
}

@mixin no-decoration() {
  a:hover {
    text-decoration: none;
    color: $prolikeyellow;
    opacity: 1;
  }
}

// Backgrounds

@mixin background-cover() {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@mixin dark-background() {
  background-color: $prolikeblue;
  color: white;

  a {
    color: white;
  }

  @include no-decoration;
}

// paddings

@mixin page-side-padding() {
  padding: 95px 20vh 50px;


  @include for-ipad-pro {
    padding: 95px 2vh 50px;
  }
}

@mixin small-padding() {
  padding: 20px 20vh;


  @include for-ipad-pro {
    padding: 20px 2vh;
  }
}




// Fonts

@import url(https://fonts.googleapis.com/css?family=Anton|Montserrat:300,300i,400,400i,500,700,700i);

@mixin serif-font() {
  font-family: 'Montserrat', Arial, sans-serif;
}

@mixin sans-serif-font() {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

@mixin title-font() {
  font-family: 'Montserrat', sans-serif;
}

@mixin stencil-font() {
  font-family: 'HVD Peace', sans-serif;
}