// Mixins

// Media querries

@mixin for-phone-only() {
  @media (max-width: 550px) {
    @content;
  }
}

@mixin for-tablet() {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin for-ipad-pro() {
  @media (max-width: 1024px) {
    @content;
  }
}


@mixin for-laptop() {
  @media (max-width: 1300px) {
    @content;
  }
}


//////////

@mixin no-pad-no-mag() {
  padding: 0;
  margin: 0;
}



@mixin horizontal-h-list() {
  display: inline;
  padding-right: 10px;

  @include for-ipad-pro {
    font-size: 1em;
  }
}

@mixin ul-padding {
  ul {
    padding: 0;
  }
}




@mixin no-dots() {
  list-style-type: none;
}

@mixin align-right() {
  text-align: right;
}

@mixin yellow-hover() {
  a:hover {
    text-decoration: none;
    color: $prolikeyellow;
    opacity: 1;
  }
}

// Backgrounds

@mixin background-cover() {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@mixin dark-background() {
  background-color: $prolikeblue;
  color: white;
  background-image: none;

  a {
    color: white;
    opacity: 1;

    &:hover {
      color: white;
    }
  }

}

@mixin bg-shadow() {
  -webkit-box-shadow: 0px 0px 9px 6px rgba(255,255,255,1);
  -moz-box-shadow: 0px 0px 9px 6px rgba(255,255,255,1);
  box-shadow: 0px 0px 9px 6px rgba(255,255,255,1);
  background-color: white;
}

@mixin bg-image() {
  background-image: url("/images/backgrounds/tileable.jpg");
  background-position: center center;

  @include for-tablet {
    background-image: url("/images/backgrounds/mb-2-tileable.jpg");
    background-position: center center;
  }
}

// paddings

@mixin page-side-padding() {
  padding-left: 20vh;
  padding-right: 20vh;

  @include for-laptop {
    padding-left: 5vh;
    padding-right: 5vh;
  }

  @include for-tablet {
    padding-left: 2vh;
    padding-right: 2vh;
  }
}

@mixin page-top-bottom-padding() {
  padding-top: 130px;
  padding-bottom: 50px;
}






// Fonts

@import url(https://fonts.googleapis.com/css?family=Anton|Montserrat:300,300i,400,400i,500,700,700i);

@mixin serif-font() {
  font-family: 'Montserrat', Arial, sans-serif;
}

@mixin sans-serif-font() {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

@mixin title-font() {
  font-family: 'Montserrat', sans-serif;
}

@mixin stencil-font() {
  font-family: 'HVD Peace', sans-serif;
}