// Mixins

@mixin background-cover() {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@mixin page-side-padding() {
  padding: 0 20vh;
}

// Fonts

@import url(https://fonts.googleapis.com/css?family=Anton|Montserrat:300,300i,400,400i,500,700,700i|Oswald);

@mixin serif-font() {
  font-family: 'Montserrat', Arial, sans-serif;
}

@mixin sans-serif-font() {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

@mixin caption-font() {
  font-family: 'Oswald', sans-serif;
}

@mixin title-font() {
  font-family: 'Montserrat', sans-serif;
}

@mixin stencil-font() {
  font-family: 'HVD Peace', sans-serif;
}