{% capture sectionid %}
{%if include.id%}{{include.id}}{%else%}no-id-given{%endif%}
{% endcapture %}

{% capture email %}
{%if include.email%}{{include.email}}{%else%}your@email.here{%endif%}
{% endcapture %}

{% capture phone %}
{%if include.phone%}{{include.phone}}{%else%}+1 123 456 789{%endif%}
{% endcapture %}

{% capture title %}
{%if include.title%}{{include.title}}{%else%}add "title=your title here" to the include{%endif%}
{% endcapture %}

{% capture caption %}
{%if include.caption%}{{include.caption}}<p>{%else%}add "caption=your caption here" to the include<p>{%endif%}
    {% endcapture %}

    <section class="bg-primary" id="{{sectionid || strip || strip_newlines}}">
      <div class="container">
        <div class="row">
          <div class="col-lg col-xs-6">
            <h1>Navigation</h1>
            <a href="/#home" data-proofer-ignore>Prolike</a>
            <a href="/#why" data-proofer-ignore>Why</a>
            <a href="/#how" data-proofer-ignore>How</a>
            <a href="/#what" data-proofer-ignore>What</a>
            <a href="/gigs/" data-proofer-ignore>Gigs</a>
            <a href="/stories/">Stories</a>
          </div>
          <div class="col-lg col-xs-6">
            <h1>Our Credo</h1>
            Lean Software Development<br>
            Serverless<br>
            Autonomation<br>
            Docker<br>
            Kaizen<br>
            Talent Development
          </div>
          <div class="col-lg col-xs-6">
            <h1>Services</h1>
            Garage Projects<br>
            Open Source Contributions<br>
            Team Resources<br>
            Research<br>
            JAM Stack Development<br>
            Integrations
          </div>
          <div class="col-lg col-xs-6">
            <h1>Contact</h1>
            <a href="mailto:hey@prolike.io?Subject=Hello%20again" target="_blank">hey@prolike.io</a>
            <a href="https://datacvr.virk.dk/data/visenhed?enhedstype=virksomhed&id=39464101&soeg=prolike&type=undefined&language=us">VAT No.: 39464101</a>
            intern@prolike.io<br />
            <a href="tel:+45 20 872 530">+45 20 872 530</a>
            <a href="https://goo.gl/maps/Esji6p1mx7x">Allerød Stationsvej 4</a>
            3450 Allerød
          </div>
        </div>
      </div>
    </section>