<!-- Navigation -->
<div class="pos-f-t">
    
    <nav class="navbar navbar-dark bg-dark"><a class="navbar-brand" href="https://www.prolike.io"><img class="col-sm-4" src="../../img/prolike-logo.png"></a>
      
      
      <button class="navbar-toggler" type="button" data-toggle="modal" data-target="#exampleModal">
        <span class="navbar-toggler-icon nav-bar-text"></span>
      </button>
      
    </nav>
   
  </div>
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
          <button data-dismiss="modal" class="closebtn">X</button>
        <div class="modal-content">
            
        <div class="modal-body">
        <ul>
          <li><a href="#home" data-target="/#home" data-dismiss="modal">Prolike</a></li>
          <li><a href="#why" data-dismiss="modal">Why</a></li>
          <li><a href="#how" data-dismiss="modal">How</a></li>
          <li><a href="#what" data-dismiss="modal">What</a></li>
          <li><a href="/gigs/" data-dismiss="modal">Gigs</a></li>
          <li><a href="#contact" data-dismiss="modal">Contact</a></li>
        </ul>
      </div>
    </div>
      </div>
    </div>