<nav>
  <a class="logo" href="/"><img src="/images/logos/prolike-logo.png" alt="Prolike website logo"></a>
  <div class="menu-wrap">
    <input type="checkbox" class="toggler">
    <div class="hamburger">
      <div></div>
    </div>
    <div class="menu">
      <div>
        <div>
          <ul>
            <li><a href="/#home">Home</a></li>
            <li><a href="/#why">Why</a></li>
            <li><a href="/#how">How</a></li>
            <li><a href="/#what">What</a></li>
            {% assign sorted_navi = site.pages | sort: 'order' %}
            {% for page in sorted_navi %}
            {% if page.navigation == true %}
            <li> <a href="{{ page.url }}" data-proofer-ignore>{{ page.title }}</a></li>
            {% endif %}
            {% endfor %}
            <li> <a href="/boards/" class="boards-button nav-btn">boards</a> </li>
            <li> <a class="logout-button nav-btn">Log in</a> </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>