.event-container {
    height: auto;
    width: 100%;
    padding: 16.5vh 10vh 10vh 10vh;

    .no-event {
        width: 100%;
        text-align: center;
        background-color: #e2e2e2;
        padding: 13vh 10vh 10vh 10vh;
    }

    .wrapper {
        display: grid;
        margin: auto;
        width: 75%;
        grid-template-columns: 1fr;
        grid-column-gap: 0.5vh;
        grid-row-gap: 0.5vh;

        .event-banner-img {
           

            svg {
                border-radius: 50%;
            }
        }

        .resp-iframe {

            height: 340px;
            width: 100%;


        }
        .event-image-outer {
            height: 400px;
            margin-bottom: 5vh;

            .event-image {
                object-fit: cover;
                height: 100%;
                width: 100%;
            }
        }

        

        .event-image.bottom {
            object-position: bottom;
        }

        .event-image.top {
            object-position: top;
        }

        h1, h2, h3, h4 {
            font-weight: bold;
        }

        h2 {
            transition: .15s all ease-in-out;
        }

        h3 {
            transition: .15s all ease-in-out;
        }

        .edate {
            color: $prolikeyellow;
            font-size: 2.2vh;
            margin-top: 0.7vh;
        }

        h4 {
            transition: .15s all ease-in-out;
        }

        .timloc {
            font-size: 2vh;
            opacity: 0.5;
            margin-bottom: 1vh;
        }

        a {
            color: black;
            font-weight: 500;
            opacity: 0.5;
        }

        a:hover {
            color: $prolikeyellow;
            text-decoration: none;
        }
    }
}



@media only screen and (max-width: 768px) {

    .event-container {
        padding: 15vh 2vh 10vh 2vh !important;

        .wrapper {
            grid-template-columns: 1fr;
        }

    }

    .ebframe {
        margin: auto;
        justify-content: center;
        height: 310px;
        width: 90%;
    }


}

@media only screen and (max-width: 1024px) {

    .event-image-outer {
        height: 250px !important;
    }

    .event-container {

        .wrapper {

            .event-banner-img {
                width: 100%;
                margin-left: 0%;
            }
        }
    }

    .ebframe {
        margin: auto;
        justify-content: center;
        height: 320px;
        width: 90%;
    }
}

@media only screen and (min-width: 1025px) {

    .event-container {
        padding: 15vh 20vh 10vh 20vh;

        .wrapper {
            grid-template-columns: 1fr;

        }

    }




}

@media only screen and (max-width: 1200px) {

    .event-container {

        .wrapper {
            width: 100%;

        }

    }




}



@media only screen and (max-width: 650px) {
    .resp-iframe {

        height: 390px !important;
        width: 100%;
    }

    .event-image-outer {
        height: 200px !important;
    }

}

.js-d-track-event-links {
    background-color: white;
}