.event-container {
    height: auto;
    width: 100%;
    padding: 16.5vh 30vh 10vh 30vh;

.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 0.5vh;
    grid-row-gap: 0.5vh;

    .event-image {
        height: 40vh;
        object-fit: cover;
        width: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        object-position: top;
    }

    h2 {
        font-size: 3.5vh;
        line-height: 5.5vh;
        color: $black;
        padding: 0 0 .5vh 0;
        text-transform: uppercase;
        font-weight: 700;
        font-family: 'Oswald', sans-serif;
        transition: .15s all ease-in-out;
    }
    h3 {
        font-size: 2vh;
        padding: 0;
        margin: 10px 0 0 0;
        color: $black;
        text-transform: uppercase;
        font-weight: 600;
        color: $prolikeyellow;
        font-family: 'Oswald', sans-serif;
        transition: .15s all ease-in-out;
    }

    .event-frame {
        padding: 0 !important;
    }
}
}



@media only screen and (max-width: 1200px) {

    .event-container {
        padding: 15vh 10vh 10vh 10vh;

        .wrapper {
            grid-template-columns: 1fr;
        }

        .event-image {
            height: 30vh;
        }


    }

   
}

@media only screen and (max-width: 768px) {

    .event-container {
        padding: 15vh 2vh 10vh 2vh !important;

        .wrapper {
            grid-template-columns: 1fr;
        }

        .event-image {
            height: 20vh !important;
        }


    }

   
}