.ourGoogleFormContainer {
    padding-top: 80px;
    height: 240vh;

    iframe {
        height: 100%;
        width: 100%;
    }
}

@media only screen and (max-width: 480px) {
    .ourGoogleFormContainer {
        height: 400vh;
    }
}

.ourGoogleForm {
    margin-bottom: 5vh;
    width: 100%;
}

.mc {
    h2 {
        display: block;
        margin: auto;
        text-align: center;
        font-size: 3.5vh;
        line-height: 5.5vh;
        color: $black;
        padding: 0 0 .5vh 0;
        font-weight: 700;
        transition: .15s all ease-in-out;
    }

    img {
        margin: 5vh auto 3vh auto;
        display: block;

    }
}