body,
html {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;

  
}

body {
  @include serif-font;
}

.front {
  @include page-side-padding;

  h2 {
    font-weight: 700;
  }
}

@include for-ipad-pro {
  .front {
    padding: 0 5vh;
  }

  h4 {
    font-size: 1.2em;
  }
}


.row {
  margin: 0 -15px;
}


h1, h2, h3, h4 {
  @include sans-serif-font;
}


hr {
  width: 100%;
  height: 1.5px;
  background: rgba(107,125,153,0.15);
  margin: 0 0 20px 0;
 }


.yellow-text {
  color: $prolikeyellow;
}

.faded-text {
  opacity: 0.7;
}



blockquote {
  padding: 0;
  margin: 0;
  quotes: "“""”";
  color: #646464;
  line-height: normal;
  margin-bottom: -2vh;
  margin-top: -3vh;
}

blockquote:before {
  content: open-quote;
  font-size: 2em;
  vertical-align: -0.4em;
  padding-bottom: 1vh;

}

blockquote:after {
  content: open-quote;
  display: inline-block;
  font-size: 2em;
  padding-top: 1vh;
  transform: rotate(180deg);
}

blockquote p {
  display: inline;
  font-style: italic;
  font-weight: bold;
  padding: 0;
  margin: 0;
}



.quote_reference {
  font-size: 1.5vh;
}

.quote_reference {
  content: "-";

}

.section-heading {
  margin-top: 0;
}

.btn {
  background: $prolikeyellow;
  color: $prolikeblue;
  font-weight: 700;
  border-radius: 0em;
  margin-top: .5em;
  border: none;
  position: relative;
  font-size: 20px;
  cursor: pointer;
  transition: 800ms ease all;
  outline: none;
  padding: 10px;
}

.btn:hover {
  background: transparent;
}

.btn:before,
.btn:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 4px;
  width: 0;
  background: $prolikeyellow;
  transition: 400ms ease all;
}

.btn:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}

.btn:hover:before,
.btn:hover:after {
  width: 100%;
  transition: 800ms ease all;
}

.call {
  background: $prolikeblue;
  color: $white;
  font-weight: 700;
  border-radius: 0em;
  margin-top: .5em;
  margin-left: 10px;
}

.call:hover {
  background: $white;
}

.call:before,
.call:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 4px;
  width: 0;
  background: $prolikeblue;
  transition: 400ms ease all;
}

.call:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}

.call:hover:before,
.call:hover:after {
  width: 100%;
  transition: 800ms ease all;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

/* Small devices (phones, 768px and down) */

@media (max-width: 768px) {

  .btn {
    font-size: 14px !important;
    margin-top: 0;
  }

  .call {
    margin-left: 0;
  }

  .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }

}

