.article {
    margin: auto;
    width: 900px;
    @include page-top-bottom-padding;
    min-height: 79.1vh;

    @include for-laptop {
        @include page-side-padding;
        width: 100%;
    }

    a:hover {
        color: $prolikeyellow;
    }
    
    img {
        margin-bottom: 20px;
        width: 100%;
    }

    .row {
        @include bg-shadow;
    }

    .header-image {
        height: 50vh;
        width: 100%;
        margin-bottom: 20px;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: top;
        }
    }

}