footer {
    @include page-side-padding;
    @include dark-background;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: left;

    h4 {
        margin-bottom: 5vh;
    }

    .footer-nav-link {
        @include no-pad-no-mag;
        @include horizontal-h-list;
        
    }

    li {
        @include no-dots;
    }

    
    .right {
        @include align-right;
    }

    .some {
        letter-spacing: 10px;
    }

    @include for-ipad-pro {
        .footer-nav {
            margin:0;
            
            
        }
      
    }
    
    @include for-tablet {
        text-align: center;
        .right {
            text-align: center;
        }
        .footer-nav {
            margin: 0 0 25px 0;
            
            
        }
        
      
      }
    
    @include for-phone-only {
       
       
      }
}

