footer {
    padding: 0vh 20vh 10vh 20vh;
    background: $prolikeblue;
    color: $white;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    hr {
        height: 1.5px;
        background: rgba(107, 125, 153, .15);
        width: 81%;
        position: absolute;
        margin-top: 0;
    }

    h3 {
        color: $white;
        font-weight: bold;
        padding-bottom: 5vh;
        user-select: none;

        .yellow-text {
            color: $prolikeyellow !important;
            margin: 0 !important;
    
            &:hover {
                text-decoration: none;
            }
        }
    }

    

    .left {
        padding-top: 10vh;

        span {
            display: flex;
            list-style-type: none;
        }

        a {
            color: $white;
            margin-right: 3.5vh;
            font-weight: bold;

            &:hover {
                text-decoration: none;
            }
        }
    }

    .right {
        text-align: right;
        padding-top: 10vh;

        .fab {
            color: $white;
            margin-left: 2.5vh;
            padding-bottom: 2.6vh;
        }

        span {
            list-style-type: none;
        }

        span li a {
            color: $white;
            line-height: 1.25;

            &:hover {
                text-decoration: none;
            }
        }

        p {
            margin: 0;
            padding: 0;
            padding-top: 2.6vh;
            user-select: none;
        }
    }
}

/* Small devices (phones, 768px and down) */

@media (max-width: 1024px) {
    footer {
        padding: 0vh 2vh;
        flex-direction: column;

        br {
            display: none;
        }

        hr {
            height: 1.5px;
            background: rgba(107, 125, 153, .15);
            width: 60%;
            position: absolute;
            margin-top: 0;
        }

        h1, .yellow-text{
            width: 90%;
        }

        .left {

            span {
                flex-direction: column;
            }

            a {
                color: $white;
                
            }
        }

        .right {
            text-align: left;
            padding: 5vh 0vh 10vh 0vh;

            .fab {
                margin-right: 2.5vh;
                margin-left: 0 !important;
            }
        }
    }
}