footer {
    background: $prolikeblue;
    height: auto;
    width: 100%;
    padding-top: 35vh;

  


       
        .footer-row {
            .footer-logo {
                height: 30px;
                user-select: none;
            }
            margin: 0 auto 20vh auto; 
            height: auto;
            display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 5vh;
    grid-row-gap: 0;
    @include page-side-padding;


            .col-lg,
            .col-sm-12,
            .col-xs-12 {
                padding-left: 0 !important;
                padding-right: 0 !important;
            }

            h1 {
                color: $prolikeyellow;
                font-size: 16px;
                line-height: 24px;
                margin-bottom: 24px;
            }

            a,
            p {
                color: $white;
                font-size: 14px;
                line-height: 18px;
                display: block;
                margin: 0;
                margin-bottom: 24px;
                font-weight: 500;
                cursor: pointer;
            }

            a:hover,
            p:hover {
                color: $prolikeyellow;
                text-decoration: none;
                transition: .1s all ease-in;
            }
        }
    

    .bottom-bar {
        height: 70px;
        width: 100%;
        background: #172033;
        align-self: flex-end;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include page-side-padding;

        span {
            color: $white;
            opacity: .75;
            font-size: 14px;
            line-height: 14px;
            user-select: none;
        }

        .fab {
            color: $white;
            margin-left: 15px;
        }
    }
}
@media (max-width: 1000px) {
    .footer-row {
        grid-template-columns: 1fr 1fr 1fr 1fr !important;
        .footer-logo {
            display: none;
        }
    }
}


@media (max-width: 800px) {

    footer {

        .footer-row {
            grid-template-columns: 1fr 1fr 1fr !important;
            grid-column-gap: 1vh;
            grid-row-gap: 3vh;
            width: 90%;
            padding: 0 2vh;

           
        }
        .bottom-bar {
            padding: 0 15px;
            height: 60px;
        }
    }
}

@media (max-width: 580px) {

    footer {
padding-top: 15vh;
        .footer-row {
            grid-template-columns: 1fr 1fr !important;
            grid-column-gap: 1vh;
            grid-row-gap: 3vh;
            width: 90%;
            padding: 0 2vh;
            margin-bottom: 10vh;

           
        }
        .bottom-bar {
            padding: 0 15px;
            height: 60px;
        }
    }
}