nav {
  height: 50px;
  width: 100%;
  @include dark-background;
  @include page-side-padding;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px 0px;
  position: fixed;
  z-index: 1000;
  padding-top: 10px;
  padding-bottom: 10px;

.row {
  height: 100%;
}

  img {
    height: 30px;
  }

  .toggler {
    float: right;
    i {
      font-size: 2em;
    }
  }

  .active {
    margin-top: 50px;
    -webkit-transform: translateY(100vh);
    -moz-transform: translateY(100vh);
    -o-transform: translateY(100vh);
    -ms-transform: translateY(100vh);
    transform: translateY(100vh);
   }
 

  .menu {
    overflow: hidden;
    position: fixed;
    top: -100vh;
    @include dark-background;
    text-align: center;
    height: 100vh;
    -webkit-transition: -webkit-transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out;
    width: 100%;
    z-index: 1;
    left: 0;
  
    @include ul-padding;

    ul {
      @include no-dots;
    }


  }
}

