nav {
  height: 50px;
  width: 100%;
  @include dark-background;
  @include page-side-padding;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px 0px;
  position: fixed;
  z-index: 1000;
  padding-top: 10px;
  padding-bottom: 10px;  

  .menu-btn {
    z-index: 1000;
    position: absolute;
  }

.dmenu {
 p {
   display: inline;
   font-weight: bold;
   padding-left: 20px;
 }
}


.row {
  height: 100%;
}

  img {
    height: 30px;
  }

  .toggler {
    float: right;
    i {
      font-size: 2em;
    }

    z-index: 1000;
    position: relative;
  }

  .active {
    margin-top: 50px;
    -webkit-transform: translateY(100vh);
    -moz-transform: translateY(100vh);
    -o-transform: translateY(100vh);
    -ms-transform: translateY(100vh);
    transform: translateY(100vh);
   }
 

  .menu {
    overflow: hidden;
    position: fixed;
    top: -100vh;
    @include dark-background;
    text-align: center;
    height: 100vh;
    min-height: 100%;
    width: 100%;
    z-index: 1;
    left: 0;
  
    @include ul-padding;

    ul {
      @include no-dots;
    }


  }

  .contact-bar {
    position: fixed;
    padding-top: 10px;
    padding-bottom: 10px;
    @include page-side-padding;
    background-color: whitesmoke;
    right: 0;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px 0px;
    text-align: right;
    top: 50px;
    a {
      color: #2e2e2e;
      padding-left: 20px;
      font-size: 0.9rem;
    }
  }
}

