.related {
    width: 100%;
    background: $prolikeblue;
    padding: 5vh 20vh;
    color: white;

    h1 {
        font-size: 4vh;
        color: white;
        font-family: 'Bebas Neue', cursive;
        margin: 0;
        margin-bottom: 2.5vh;
    }

    hr {
        width: 100%;
        height: 1.5px;
        background: rgba(107, 125, 153, .15);
        margin: 0;
        margin-bottom: 7.5vh;
    }

    .wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-gap: 4vh;

        img {
            width: 100%;
        }

        h1 {
            font-size: 4vh;
            line-height: 5.5vh;
            padding: 2vh 0 1vh 0;
            margin: 0;
        }

        p {
            font-size: 1.7vh;
            line-height: 1.5;
            margin: 0;
        }

        a {
            &:hover {
                text-decoration: none;
            }
        }

        .author-text {
            margin-top: 2vh;

            a {
                color: #a3b4cc;

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}

/* Small devices (phones, 768px and down) */

@media only screen and (max-width: 768px) {

    .related {
        padding: 5vh 2vh;

        h1 {
            font-size: 4vh;
            color: white;
            font-family: 'Bebas Neue', cursive;
            margin: 0;
            margin-bottom: 2.5vh;
        }

        hr {
            width: 100%;
            height: 1.5px;
            background: rgba(107, 125, 153, .15);
            margin: 0;
            margin-bottom: 7.5vh;
        }

        .wrapper {
            grid-template-columns: 1fr;
            grid-row-gap: 5vh;

            h1 {
                font-size: 5vh;
                padding: 2vh 0;
            }

            p {
                font-size: 2vh;
            }

        }
    }

}