---
layout: page
---
<div class="article contact">
    <h2>Let's connect</h2>
    <hr>
        <p>Drop us a message below with your details, and we'll get back to you as fast as we can</p>
<div class="row">
    
    <div class="col-12 col-sm-12 col-md-10">
    <form action="https://formspree.io/become@prolike.io" method="POST">
        
        <div class="form-group">
            <input type="text" name="name" placeholder="Full name">
            <input type="text" name="phone" placeholder="Phone">
        </div>
        <div class="form-group">
            <input type="text" name="topic" placeholder="Topic">
            <input type="email" name="_replyto" aria-describedby="emailHelp" placeholder="Email">
        </div>
        <input type="submit" value="Send">
    </form>
</div>
</div>
</div>