---
layout: page
---
<h1 class="board-heading"></h1>
<h2 class="cost-name">{{ page.name }}</h2>

{{ content }}

<img class="profile-picture" src="#">
<div class="new-issue-box">
        <p>Last opened issue:</p>
        <h2 class="ni-number">#</h2>
        <h3 class="ni-title"></h3>
        <p>Created on <span class="ni-time"></span> by <span class="ni-cont"></span></p>
        <a target="_blank" class="ni-link" href="#">View on Github</a>
    </div>

<div class="closed-issue-box">
        <p>Last closed issue:</p>
        <h2 class="ci-number">#</h2>
        <h3 class="ci-title"></h3>
        <p>Created on <span class="ci-time"></span> by <span class="ci-cont"></span></p>
        <a target="_blank" class="ci-link" href="#">View on Github</a>
    </div>

<div class="pipeline-box"></div>

<div class="contributors">
    
</div>

<div class="storypoints">

    <h3 class="storypoint-number"></h3>
</div>

<div class="todo-list">
    
</div>


{% include scripts/plugins.html %}
<script src="/js/board.js"></script>
