---
layout: page
---

<div class="container-fluid justify-content-center dillyDally">
    <div class="row justify-content-center">
        <div class="col-12">

            <h1>Dilly Dally Time Registration<br>Change Worklog</h1>

            <a href="/dillyDally" data-proofer-ignore>Create Dilly Dally Worklog</a>

            <h4>Worklog ID<span>*</span></h4>
            <p>ID</p>
            <input type="text" id="doc_id" value="" required>

            <form id="timereg_form">
                <div id="timereg_form_part1">

                    <h4>Start time <span>*</span></h4>
                    <p>HH:MM</p>
                    <input type="datetime-local" name="startTime" value="" required>

                    <h4>End time <span>*</span></h4>
                    <p>HH:MM</p>
                    <input type="datetime-local" name="endTime" value="" required>

                    <div precision>
                        <h4>Related to a GitHub issue <span>*</span></h4>
                        <span class="radio-buttons">
                            <input type="radio" name="githubIssue" id="issue_yes" value="yes">
                            <p> Yes</p> <br>
                            <input type="radio" name="githubIssue" id="issue_no" value="no">
                            <p> No </p><br>
                        </span>
                    </div>
                </div>

                <div id="timereg_form_part2a">

                    <select name="githubRepo" required>
                        <option value="" hidden selected>Select Github repository</option>
                        <option value="prolike/copenhagencoaching.dk">CCC</option>
                        <option value="prolike/ccc-moodle">CCC Moodle</option>
                        <option value="prolike/ccc-support">CCC support</option>
                        <option value="prolike/cyklingudenalder.dk"> cyklingudenalder.dk</option>
                        <option value="itmorten/itsystemdesign"> IT System Design</option>
                        <option value="prolike/dillydally"> Dilly Dally</option>
                        <option value="republicdomain/republicdomain.dk"> RePublicDomain</option>
                        <option value="prolike/wteam.dk"> Wteam.dk</option>
                        <option value="prolike/prolike.io"> Prolike.io</option>
                        <option value="prolike/champagnekaelderen"> Champagnekaelderen</option>
                    </select>

                    <h4>Issue number <span>*</span></h4>
                    <p>Example: 123</p>
                    <input type="number" name="issueNumber" required>

                    <h4>Fixed price</h4>
                    <p>(hh:MM) Default is, that the work will billed as per the estimate on the issue.
                        <br>You only need to use this optional field if you want to override that default
                        <br>(e.g. to indicate that it is free of charge)
                    </p>
                    <input type="time" name="fixedPrice" value="">

                    <div id="error" class="error"></div>

                    <input class="input btn" type="button" value="Submit" onclick="validatePart2a()">
                </div>

                <div id="timereg_form_part2b">

                    <h4>Category <span>*</span></h4>
                    <p>Select from the list</p>
                    <select class="dropdown" name="category" required>
                        <option value="" hidden selected>Select category</option>
                        <option value="discussingCustomerAffairs">Discussing customer affairs</option>
                        <option value="marketing">Marketing</option>
                        <option value="accountManagement">Account management</option>
                        <option value="recruitment/Retention">Recruitment/retention</option>
                        <option value="sales">Sales</option>
                        <option value="fridaysCodeCafe">Fridays code cafe</option>
                        <option value="event">Attended an event</option>
                        <option value="meeting">Meeting</option>
                        <option value="bookKeeping">Book keeping</option>
                    </select>

                    <h4>Describe the issue <span>*</span></h4>
                    <p>Short explanation of what the issue is about</p>
                    <input type="text" name="issueDescription" value="" required>

                    <div id="error" class="error"></div>

                    <input class="input btn" type="button" value="Submit" onclick="validatePart2b()">
                </div>
            </form>

            <div id="error"></div>
            <div id="success"></div>

        </div>
    </div>
</div>
<script src="/js/dd-worklog.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/3.0.0/fetch.js"></script>