---
layout: page
---

<div class="container dillyDally">
    <div class="row justify-content-center">

        <div class="col-8">
            <h1>Dilly Dally Time logging</h1>
        </div>

        <from class="col-12">
            <div class="row justify-content-center">
                
                <div class="col-8">
                    <h4>Day of Work <span>*</span></h4>
                    <p>Date</p>
                    <input type="date" name="dayOfWork" required>
                </div>
        
                <div class="col-8">
                    <h4>Start time <span>*</span></h4>
                    <p>HH:MM</p>
                    <input type="time" name="starTime" required>
                </div>
        
                <div class="col-8">
                    <h4>Work Duration <span>*</span></h4>
                    <p>HH:MM</p>
                    <input type="time" name="workDuration" required>
                </div>
        
                <div class="col-8">
                    <h4>Related to a GitHub issue <span>*</span></h4>
                    <input type="radio" name="issue" id="issue_yes" value="yes" checked required> Yes <br>
                    <input type="radio" name="issue" id="issue_no" value="no"> no <br>
                </div>

                <div class="col-8" id="btn">
                    <button class="btn" onclick="githubIssue();">Next</button>
                </div>

                <div id="response" class="col-8">

                </div>

            </div>
        </from>

    </div>
</div>
<script src="/js/dillyDally.js"></script>