---
layout: page
---

<div class="event-container">
    <div class="wrapper">

       

        <div class="event-boks">
<img class="event-image" src="{{ page.image }}">
<h3 class="event-date">{{ page.date  | date: '%d %B %Y' }}</h3>

<h2 class="event-heading">{{ page.title }}</h2>

{{ page.content }}

        </div>

        <span class="event-id" style="display: none;">{{ page.event-id }}</span>

        <h3 class="event-heading">Buy a ticket</h3>
<div class="event-frame" id="eventbrite-widget-container-{{ page.event-id }}"></div>
    </div>
</div>



<script src="https://www.eventbrite.com/static/widgets/eb_widgets.js"></script>


<script type="text/javascript">

var eventID = document.querySelector(".event-id").innerHTML;

    var exampleCallback = function() {
        console.log('Order complete!');
    };

    window.EBWidgets.createWidget({
        // Required
        widgetType: 'checkout',
        eventId: eventID,
        iframeContainerId: 'eventbrite-widget-container-' + eventID,

        // Optional
        iframeContainerHeight: 425,  // Widget height in pixels. Defaults to a minimum of 425px if not provided
        onOrderComplete: exampleCallback  // Method called when an order has successfully completed
    });
</script>

