---
layout: page
---

{% capture nowunix %}
{{ 'now' | date: '%s' | plus: 0 }}
{% endcapture %}
{% capture posttime %}
{{ page.date | date: '%s' | plus: 86400 }}
{% endcapture %}
{% capture datepassed %}
{{ page.date | date: '%s' | plus: 172800 }}
{% endcapture %}

<div class="event-container">
    <div class="wrapper">

        <div class="event-boks event-brite">

            <div class="event-banner-img">
                {% assign switchlang = page.lang-id %}
                    {% for event in site.events %}
                        {% if page.title != event.title %}
                            {% if event.lang-id == switchlang %}
                                <a href="{{ event.url }}" style="float: right">{{ event.lang }}</a>
                            {% endif %}
                        {% endif%}
                    {% endfor %}
    
                <img class="event-image {{ page.image-position }}" src="{{ page.image }}" alt="{{ page.title }}">
            </div>

            <h3><i class="far fa-calendar-alt event-icon"></i> {{ page.date  | date: '%d %B %Y' }}</h3>
            <h4><i class="far fa-clock"></i> {{ page.time }} <i class="fas fa-map-marker-alt"></i> {{ page.place }}</h4>


            <h2 class="event-heading">{% if posttime < nowunix %}Past: {% endif %}{{ page.title }}</h2>

            {{ page.content }}

        </div>



        <span class="event-id" style="display: none;">{{ page.event-id }}</span>


        {% if posttime > nowunix %}

        <h3 class="event-heading">Buy a ticket</h3>

       
        <div class="resp-container">
        <iframe class="ebframe resp-iframe event-frame" src="https://www.eventbrite.co.uk/tickets-external?eid={{ page.event-id }}&ref=etckt" frameborder="0"
            marginheight="0" marginwidth="0" scrolling="yes" allowtransparency="true"></iframe>
</div>
             {% endif %}

    </div>
</div>

