---
layout: page
---

{% capture nowunix %}
{{ 'now' | date: '%s' | plus: 0 }}
{% endcapture %}
{% capture posttime %}
{{ page.date | date: '%s' | plus: 86400 }}
{% endcapture %}
{% capture datepassed %}
{{ page.date | date: '%s' | plus: 172800 }}
{% endcapture %}

<div class="article">
    <div class="row">
        <div class="col-12">

            {% assign switchlang = page.lang-id %}
            {% for event in site.events %}
            {% if page.title != event.title %}
            {% if event.lang-id == switchlang %}
            <a href="{{ event.url }}" style="float: right">
                <span class="flag-icon flag-icon-{{ event.lang }} flag-icon-squared"></span>
            </a>
            {% endif %}
            {% endif%}
            {% endfor %}
            <div class="header-image">

                <img src="{{ page.image }}" alt="{{ page.title }}">
            </div>


            <h5 class="yellow-text"><i class="far fa-calendar-alt event-icon"></i> {{ page.date  | date: '%d %B %Y' }}
            </h5>
            <h5><i class="far fa-clock"></i> {{ page.time }} <i class="fas fa-map-marker-alt"></i> {{ page.place }}</h5>


            <h1>{{ page.title }}</h1>

            {{ page.content }}





            <span class="event-id" style="display: none;">{{ page.event-id }}</span>

            {% if page.lang == "dk" %}
            {% assign ticket_mes = "Få en billet" %}
            {% else %}
            {% assign ticket_mes = "Get a ticket" %}

            {% endif %}

            <h5>{{ ticket_mes }}</h5>


            {% if posttime > nowunix %}





            <iframe src="https://www.eventbrite.co.uk/tickets-external?eid={{ page.event-id }}&ref=etckt"
                frameborder="0" marginheight="0" marginwidth="0" scrolling="yes" allowtransparency="true"></iframe>

            {% else %}

            {% if page.lang == "dk" %}
            {% assign no_event_mes = "Der er ingen billetter, da eventet har været afholdt" %}
            {% else %}
            {% assign no_event_mes = "There is no tickets, because the event already has been executed" %}

            {% endif %}
            <div class="no-event">
                <p>{{ no_event_mes }}.</p>
            </div>

            {% endif %}

            {% include components/buttons.html %}
        </div>
    </div>
</div>