---
layout: page
---

<div class="boxes">
 <h4>Upcoming events:</h4>
 <hr>
  <div class="row">

    {% assign sorted_events = site.events | sort: "date" | reverse %}
 

    {% assign curDate = site.time | date: '%s' %}
    {% for event in sorted_events %}
        {% assign postStartDate = event.date | date: '%s' %}
        {% if postStartDate >= curDate %}
        {% if event.show-on-list %}
       
       
          <div class="col-xl-4 col-sm-6 col-sx-12">
            <a href="{{ event.url }}">
              <div class="image-box">
              <img class="events-image {{ event.image-position }}" src="{{ event.image }}" alt="{{ event.title }}">
            </div>
            </a>
              <h5 class="yellow-text">{{ event.date | date: "%d %B %Y" }}</h5>
      
              <h4 class="events-heading">
                {{ event.title }}
      
              </h4>
              <p>{{ event.description }}.</p>
          
          </div>
      
       {% endif %}
        {% endif %}
    {% endfor %}
      </div>
      <h4>Past events:</h4>
      <hr>
      <div class="row">

    {% for event in sorted_events %}
        {% assign postStartDate = event.date | date: '%s' %}
        {% if event.show-on-list %}
        {% if postStartDate >= curDate %}
        
        {% else %}
        
        <div class="col-xl-4 col-sm-6 col-sx-12">
          <a href="{{ event.url }}">
            <div class="image-box">
              <img class="events-image {{ event.image-position }}" src="{{ event.image }}" alt="{{ event.title }}">
            </div></a>
            <h5 class="yellow-text">{{ event.date | date: "%d %B %Y" }}</h5>
    
            <h4 class="events-heading">
              {{ event.title }}
    
            </h4>
            <p>{{ event.description }}.</p>
        
        </div>
        

        {% endif %}
        {% endif %}
    {% endfor %}
  </div>
</div>