---
subpage: Partners
layout: page
---

<div class="article">
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="row content justify-content-center">
                <div class="col-sm-6 col-12 align-self-end">
                    <h2>{{ page.title }}</h2>
                    
                </div>

                <div class="col-sm-6 col-12 text-right">
                    <img class="partner-image" src="{{ page.image }}" alt="{{ page.title }} logo">
                </div>
                <hr>
                <div class="col-12">
                    {{ page.content }}
                </div>
            </div>
        </div>
    </div>
    {% include components/buttons.html %}
</div>