---
layout: page
---

<div class="boxes">
    <h1>{{ page.title }}</h1>
    <p>{{page.text}}</p>

    <div class="row justify-content-center">
        <div class="col-8">
            <div class="row justify-content-center">

                {% for service in site.services %}
                {% if service.operational == true %}
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <a href="{{ service.url }}">
                        <div class="service-box">
                            <i class="{{ service.icon }} service-icon"></i>
                            <h4>{{ service.title }}</h4>
                        </div>
                    </a>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% include components/buttons.html %}
</div>