---
subpage: things
layout: page
---
<div id="storyfullpage" class="container-fluid slide-container">
    {% for section in page.sections %}
    <section class="slide section">
        <div class="trigger" id="trigger{{ forloop.index0 }}"></div>
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xs-8 slide1">
                <i class="{{ section.icon }} fa-5x flowIcon"></i>
                <div class="headings{{ forloop.index0 }} story-heading">
                    {% for heading in section.headings %}<h1>{{ heading }}</h1>{% endfor %}</div>
                <div class="texts{{ forloop.index0 }}">{% for text in section.texts %}<p>{{ text }}</p>{% endfor %}
                    {% if forloop.last %}
                    <p><a class="back-things" href="/anything/"><i class="fas fa-arrow-left"></i> Back to anything</a>
                        {% endif %}</p>
                </div>
            </div>
        </div>
    </section>
    
    {% endfor %}

</div>